body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(Site.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.Login-Have {
    display: inline-block;
    position: relative;
    font-size: 16px;
    top:-80px;
    left:50px;
    color: red;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    z-index: 2;
}
.Ok {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(38, 174, 184);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    position: relative;
    left:-130px;
    z-index: 2;
    padding: 10px 50px;
}
  
.Ok:active {
    scale: 0.92;
}
  
.Ok:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }
.Nice {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: url(Nice.avif);
    background-size: cover;
    width: 33%;
    height: 35%;
    left: 35%;
    top: 27%;
    z-index: 1;
    border-radius: 20px;
}
.Error{
    text-align: center;
}
@media (max-width:1230px) {
    .Nice{
        width: 44%;
        height: 40%;
    }
}
@media (max-width:920px) {
    .Nice{
        width: 64%;
    }
}
@media (max-width:920px) {
    .Nice{
        left: 15%;
        width: 74%;
    }
}
@media (max-width:548px) {
    .Nice{
        left: 5%;
        width: 94%;
    }
}
@media (max-width:432px) {
    .Nice{
        left:0px;
        width: 100%;
    }
}
@media (max-width:406px) {
    .Nice{
        left:0px;
        width: 100%;
    }
    .Login-Have{
        top:-54;
        left:0px;
    }
    .Ok{
        left: -1px;
    }
}
@media (max-width:405px) {
    .Login-Have{
        top:-38px;
    }
}