body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(for_site.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.login{
    color:white;
    position: relative;
    top:-34px;
    left:70px;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.email{
    color:white;
    position: relative;
    top:23px;
    left:70px;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.password{
    color:white;
    position: relative;
    top:70px;
    left:70px;
    font-size: 23px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
.input-pot{
    position: relative;
    width: 450px;
    padding: 10px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 20px;
    outline: none;
    background-color: #a9d8f2;   
}
.input-pot:focus{
    border: 1px solid;
    border-color: green;
}


.Email-pol{
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 20px;
    outline: none;
    background-color: #a9d8f2;
    width: 450px;
    top:50px;
    right: 4px;
}
.Email-pol:focus{
    border: 1px solid;
    border-color: green;
}
.Email-pol:active{
    background-color: #a9d8f2;  
}

.pass-pol {
    position: relative;
    width: 450px;
    padding: 10px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 20px;
    outline: none;
    background-color: #a9d8f2;  
    font-size: 15px; 
    top: 100px;
    left:-15px;  
}
.pass-pol:focus{
    border: 1px solid;
    border-color: green;
}
.pass-pol:active{
    background-color: #a9d8f2;
}
.button {
    position: relative;
    top:130px;
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    color: rgb(255, 255, 255);
    padding: 10px 110px;
    border: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);            
    box-shadow: 0 0 20px #13d0ff;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    left:70px; 
}

.button:hover {
    background-position: right center; 
    text-decoration: none;
}
.SING-IN{
    position: relative;
    top:-286px;
    left:50px;
    color:white;
    font-size:24px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    text-decoration: underline 2px yellow;
    cursor: pointer;
}

.SING-UP{
    position: relative;
    top:-365px;
    left:180px;
    color:white;
    font-size:24px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    cursor: pointer;
}
.SING-UP:hover{
    text-decoration: underline 2px yellow;
}
@media screen and (max-width:1520px) {
    .button{
        top:300px;
        padding: 10px 60px;
        left:110px;
    }
    .password{
        top:210px;
        left:90px;
    }
    .pass-pol{
        top:240px;
        width: 410px;
        padding: 6px;
        left:0px;
    }
    .email{
        top:150px;
        left:90px;
    }
    .Email-pol{
        top:180px;
        width: 410px;
        padding: 7px;
        left:10px;
    }
    .input-pot{
        width: 410px;
        padding: 7px;
        left:15px;
        top:120px;
    }
    .login{
        top:90px;
        left:90px;
    }
    .SING-IN{
        top:-130px;
        left:50px;
    }
    
    .SING-UP{
        top:-210px;
        left:250px;
    }
}
@media screen and (max-width:1050px) {
   
}
@media screen and (max-width:576px) {
   .button{
    left:86px;
   }
   .pass-pol{
    left: -28px;
   }
   .password{
    left:66px;
   }
   .Email-pol{
    left:-16px;
   }
   .email{
    left:67px;
   }
   .input-pot{
    left:-13px;
   }
   .login{
    left:67px;
   }
   
}
@media screen and (max-width:488px) {
    .button {
        left: 4px;
        padding: 8px 25px;
    }
    .pass-pol {
        left: 9px;
        width: 281px;
    }
    .password {
        left: 17px;
        top: 235px;
    }
    .Email-pol {
        width: 281px;
        left: 10px;
    }
    .email {
        left: 18px;
        top: 175px;
    }
    .input-pot {
        left: 10px;
        width: 281px;
    }
    .login {
        left: 21px;
        top: 115px;
    }
    .SING-UP {
        top: -270px;
        left: 142px;
    }
    .SING-IN {
        top: -192px;
        left: 19px;
    }
    
    
}
